table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

td.loading {
  color: #888;
}

td.increase {
  color: green;
}

td.decrease {
  color: red;
}
